package components

import "github.com/zangster300/northstar/web/layouts"

templ SiteLayout(element_body string, meta layouts.MetaData) {
	@layouts.Base(meta) {
		<div id="posts-container" class="flex flex-col min-h-screen max-w-5xl mx-auto">
			@templ.Raw(element_body)
		</div>
	}
}
