

package components

import "github.com/zangster300/northstar/web/layouts"

templ DummySiteLayout(element_body string) {
	@layouts.Base("Dummy Site Layout") {
		<div id="posts-container" class="flex flex-col min-h-screen max-w-5xl mx-auto">
			@templ.Raw(element_body)
		</div>
	}
}
